@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <span class="ml-md-5"><a href="https://caniusevia.com/" target="_blank">VIA Official</a> (<a href="https://caniusevia.com/docs/specification" target="_blank">Document</a>)</span>
        <a href="http://www.keyboard-layout-editor.com/" target="_blank" class="ml-md-5">Keyboard Layout Editor</a>
        <a href="https://github.com/koktoh/ViaJsonBuilder" target="_blank" class="ml-md-5">GitHub</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
