@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <span class="ml-md-5"><a href="https://caniusevia.com/" target="_blank">VIA Official <span class="oi oi-external-link" /></a> (<a href="https://caniusevia.com/docs/specification" target="_blank">Document <span class="oi oi-external-link" /></a>)</span>
        <a href="http://www.keyboard-layout-editor.com/" target="_blank" class="ml-md-3">Keyboard Layout Editor <span class="oi oi-external-link" /></a>
        <a href="https://github.com/koktoh/ViaJsonBuilder" target="_blank" class="ml-md-3">GitHub <span class="oi oi-external-link" /></a>
        <span style="color:#333;font-size:11px;" class="ml-md-3">Ver. @Version</span>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code {
    private string Version => this.GetVersion();

    private string GetVersion()
    {
        var assembly = System.Reflection.Assembly.GetExecutingAssembly();
        var version = assembly.GetName().Version;

        return $"{version.Major}.{version.Minor}.{version.Build}";
    }
}
